body {
    font-family: 'Roboto', sans-serif;
    margin: 0 100px;
    background: rgb(167,185,185);
    background: linear-gradient(0deg, rgba(167,185,185,1) 19%, rgba(237,218,108,1) 46%, rgba(182,162,63,1) 100%);
}

header {
    width: 100%;
    text-align: center;
}

#header-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 80px;
}

#logo {
    height: 300px;
    width: 1200px;
}

span{
    font-weight: bold;
}