/*#033540
#015366
#63898C
#A7D1D2
#E0F4F5*/

/*elements*/
body {
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: black;
    /* background-image: url(/resources/images/wallpaperflare.com_wallpaper.jpg); */
    background-size: 100%;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color:black;
    text-decoration: none;
}

article {
    display: flex;
    position: relative;
}

span {
    font-weight: bold;
}

h3,h2 {
    text-transform: uppercase;
}

h2:hover{
    box-shadow: 0 0 10px 10px;
}

figcaption {
    display: table;
    font-size: smaller;
    color:#e79e47;
    position: absolute;
    bottom: 50px;
    background-color: black;
    height: 45px;
    width: 190px;
    opacity: 70%;
}

section{
    display: grid;
    align-content: center;
}

/* classes */
.main-page-content {
    margin: 0 230px;
    text-align: center;
}

.main-page-content p {
    text-align: justify;
}

.article-images{
    border-radius: 10px;
    height: 400px;
    width: 430px;
}

.article-p{
    margin: 0 40px;
}

p.figcaption-description{
    text-align: center;
}

.read_more_links{
    display: grid;
    margin: 15px 40px;
    justify-items: start;
    border-top: 1px solid black;
}

/* ids */
#header-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 60px 20px;
}

#header-nav {
    padding: 0px;
}

#logo {
    height: 300px;
    width: 1200px;
}
